.ingresarbtn {
    background-color: rgba(27, 54, 93, 1);
    color: #fff;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
    padding: 5px 30px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .input {
    border-radius: 15px ;
    border: 1px solid rgb(5, 5, 21);
    background: #fff;
    padding: 10px;
  }
  